{% extends 'blog/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

    <form method="get" action="{% url 'post_search' %}">
        <input type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>


    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
            <li>{{post.title}}</li>
        {% empty %}
            <h3>No post are available yet</h3>
        {% endfor %}

    </ul>
{% endblock %}
